html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 40px;
    grid-template-rows: 50px 1fr 1fr 50px;
    grid-template-areas: 
        "toolbar toolbar toolbar" 
        "hint main sidebar"
        "hint main sidebar"
        "status status sidebar";
}

.grid-item:nth-child(1) {
    background: green;
    grid-area: toolbar;
}

.grid-item:nth-child(2) {
    background: red;
    grid-area: sidebar;
}

.grid-item:nth-child(3) {
    background: yellow;
    grid-area: hint;
}

.grid-item:nth-child(4) {
    background: blue;
    grid-area: status;
}

.grid-item:nth-child(5) {
    background: gray;
    grid-area: main;
}