html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

.container {
    display: grid;
    background: lightgray;
    grid-template-rows: auto [header] 100px [header kobi] repeat(3, 2fr) 1fr;
    grid-template-columns: 10em 1fr 3fr 1fr 10em;
    font-size: 28px;
    padding: 20px;
    column-gap: 10px;
    gap: 20px 10px;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background: lightgreen;
}

.grid-item:nth-child(5) {
    background: rgba(255, 160, 122, 0.8);
}

.grid-item:nth-child(4) {
    background: rgba(255, 160, 122, 0.8);
    grid-column-start: 2;
}

.grid-item:nth-child(2) {
    background: yellow;
    grid-area: kobi / 1 / span 1 / -1;
}

.grid-item:nth-child(10) {
}

.grid-item:nth-child(3) {
}
